.feedback {
    position: fixed;
    display: none;
    width: 320px;
    height: 100%;
    top: 0;
    right: 0;
    border: 1px solid white;
    background-color: white;
    z-index: 5;
    box-shadow: -1em 0 .9em rgb(63, 59, 59);
}

.feedback__wrapper {
    align-items: center;
}

.feedback__close {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.feedback__button {
    display: flex;
    width: 120px;
    height: 32px;
    border: 1px solid #FF3E79;
    border-radius: 20px;
    background: #FF3E79;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.feedback__text {
    margin-top: 6px;
    margin-left: 10px;
    color: #F8F8F8;
}

.feedback__arrow {
    margin-top: -5px;
    margin-left: 0px;
    text-align: center;
    color: #FF3E79;
    vertical-align: middle;
    font-size: 22px;
    transform: rotate(-40deg);
}

.feedback__arrow::after {
    content: 'aq';
    color: #FF3E79;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    font-size: 5px;
}

.feedback__form input {
    width: 250px;
    height: 36px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #F8F8F8;
    text-align: left;
    padding-left: 20px;
}

.feedback__form textarea {
    width: 270px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #F8F8F8;
    margin-bottom: 10px;
}

.feedback__agreement {
    font-size: 13px;
    margin-left: 20px;
}

.feedback__agreement a {
    text-decoration: none;
    color: #FF3E79;
}